.ui.divided.selection.list.plan-features
  .item= page_count_feature_string(subscription_plan)
  .item= giveaway_count_feature_string(subscription_plan)
  .item Advanced Analytics
  .item Giveaway Shortlink
  .item= white_label_feature_string(subscription_plan)
