%script#stripe_js{src: "https://checkout.stripe.com/checkout.js"}

- sub_object = facebook_page ? facebook_page : current_user

.subscription-plans.clearfix

  .panel.panel-default
    .panel-body.panel-body-callout.text-center-xs
      - callout type: 'info', title: "Subscription Status" do
        %p= subscription_message(sub_object)

  #plan_columns.row{ 'data-is-user-centric' => "#{sub_object.is_a?(User) ? 'true' : nil}" }
    = render SubscriptionPlan.public, sub_object: sub_object

