%script{src: "https://checkout.stripe.com/v2/checkout.js"}

:javascript
  var handler = StripeCheckout.configure({
    key: '#{Rails.configuration.stripe[:publishable_key]}',
    token: function(token, args) {
      // Use the token to create the charge with a server-side script.
    }
  });

.ui.stackable.grid.subscription-plans
  .sixteen.wide.column
    = no_subscription_message(facebook_page)
  .four.column.center.aligned.row
    = render SubscriptionPlan.public, facebook_page: facebook_page
