%script#stripe_js{src: "https://checkout.stripe.com/checkout.js"}

- sub_object = facebook_page ? facebook_page : current_user

.ui.stackable.grid.subscription-plans
  .sixteen.wide.column
    - if @scheduling
      = no_subscription_schedule_message(sub_object)
    - else
      = subscription_message(sub_object)
  #plan_columns.center.aligned.equal.height.row{ 'data-is-user-centric' => "#{sub_object.is_a?(User) ? 'true' : nil}" }
    = render SubscriptionPlan.public, sub_object: sub_object

