#{@user_first_name},

#{@giveaway.title} has been successfully published to the #{@giveaway.facebook_page.name} Facebook Page.

Here's a link:
#{@giveaway.giveaway_url}

Here are some next steps to consider...

1. Move the new giveaway tab into view. In the area right below your page's cover photo, that lists all your page's tabs, You are able to rearrange the display order of all your page's tabs in the are right below your page's cover photo. Just click the pencil icon and choose the tab that you want it to switch positions with.

2. Be sure to let your current fans know about the giveaway by posting a status update.

3. Experiment with some Facebook ads to give your giveaway some extra juice.

4. Contact relevant blog and other websites to promote your giveaway.

Good luck!

Brian D. and the Simple Giveaways team
