.DS_Store
*.log
tmp/pids/*
config/database.yml
config/initializers/facebook.rb
config/initializers/01_facebook.rb
config/initializers/mandrill.rb
config/initializers/02_mandrill.rb
.idea/
.idea/*
/tmp/*
/tmp/**/
.sass-cache/*
/.sass-cache/
.sass-cache/**/
dump.rdb
