%h4.ui.header Images

= f.input :image, as: :file, hint: "This is the main giveaway image. It can be as tall as you like but Facebook limits the width to 810 pixels."
= f.input :feed_image, as: :file, label: "Feed Image", hint: "This is the thumbnail that will show up in Facebook News Feed and Wall posts when the giveaway is shared."
