.form-group
  = f.input :image, as: :file, html: { 'data-trigger' => 'change', 'data-required' => 'true' }
  - if f.object.image.present?
    .ui.image= image_tag f.object.image(:medium), alt: f.object.title

  = f.input :feed_image, as: :file, html: { 'data-trigger' => 'change', 'data-required' => 'true' }
  - if f.object.feed_image.present?
    .ui.image= image_tag f.object.feed_image, alt: f.object.title
