= f.input :autoshow_share_dialog, as: :select, selected: "false", label: "Autoshow<br />Share Dialog".html_safe, input_html: { class: "input-mini" }, wrapper_html: { class: "double" }, hint: "Autoshow the share dialog upon successful entry?<br /><strong>Defaults to No.</strong>".html_safe

= f.input :allow_multi_entries, as: :select, selected: "false", label: "Allow Multiple Entries Per User", input_html: { class: "input-mini" }, wrapper_html: { class: "double" }, hint: "Allow a single Facebook user to enter multiple times?<br /><strong>Defaults to No.</strong>".html_safe

= f.input :email_required, as: :select, selected: "true", label: "Auth Required for Entry", input_html: { class: "input-mini" }, wrapper_html: { class: "double" }, hint: "Require entrants to provide an email address?<br />If Yes, you will receive the entrant's facebook account email address, however, entrants will be asked to authenticate the app.  If No, entrant's will only be asked to enter an email address.  While they will not have to authenticate, this method is more open to false positives caused by junk accounts.<br /><strong>Defaults to Yes.</strong>".html_safe

= f.input :bonus_value, collection: bonus_entries_select, selected: "5", label: "Bonus Entry Value", input_html: { class: "input-mini" }, hint: "How many bonus entries to award a user for a<br />successful conversion via Wall Post, Send, Invite, or Referral URL click.<br /><strong>Defaults to 5.</strong>".html_safe
