= simple_form_for [giveaway.facebook_page, giveaway], url: start_facebook_page_giveaway_path(giveaway.facebook_page, giveaway), html: { multipart: true } do |f|

  = f.input :end_date, as: :string, input_html: { value: f.object.end_date && f.object.end_date.in_time_zone, class: 'datetime-picker' }, wrapper_html: { class: 'field date' }, label: 'End Date/Time'

  = f.input :custom_fb_tab_name, label: 'Custom Tab Name', input_html: { placeholder: 'Custom Tab Name' }, required: false
