= simple_form_for [giveaway.facebook_page, giveaway], html: { multipart: true } do |f|

  = f.input :end_date, as: :datetime, wrapper_html: { class: 'field date' }, label: 'End Date/Time'

  = f.input :custom_fb_tab_name, label: 'Custom Tab Name', input_html: { placeholder: 'Custom Tab Name' }, required: false
