%p.fieldset-help
  %i.icon-info-sign
  You may leave this blank for now if you don't yet know your schedule.
  = f.input :start_date, as: :ui_date_time_picker, input_html: { class: "input-mini" },
                                           label: "Start Date/Time",
                                           start_year: Date.today.year - 1,
                                           end_year: Date.today.year + 5,
                                           order: [:month, :day, :year],
                                           use_short_month: true,
                                           include_blank: true,
                                           ampm: true
  = f.input :end_date, as: :ui_date_time_picker, input_html: { class: "input-mini" },
                                         label: "End Date/Time",
                                         start_year: Date.today.year - 1,
                                         end_year: Date.today.year + 5,
                                         order: [:month, :day, :year],
                                         use_short_month: true,
                                         include_blank: true,
                                         ampm: true

:javascript
  $(function() {
    $('input.ui-datetime-picker').datetimepicker({
      ampm: true,
      dateFormat: 'D, dd M yy',
      timeFormat: 'hh:mm TT'
    });
  });