.row.schedule

  %h4.ui.header
    Schedule
    %p.sub.header
      If you choose a start date and/or end date, we will automatically publish and/or unpublish your giveaway at the chosen date and time (as long as there is not a scheduling conflict with another giveaway).

  = f.input :start_date, as: :string, input_html: { value: f.object.start_date && f.object.start_date.in_time_zone, class: 'datetime-picker', disabled: f.object.active? }, wrapper_html: { class: 'field date' }, label: 'Start Date/Time'

  = f.input :end_date, as: :string, input_html: { value: f.object.end_date && f.object.end_date.in_time_zone, class: 'datetime-picker' }, wrapper_html: { class: 'field date' }, label: 'End Date/Time'
