%p.fieldset-help
  %i.icon-info-sign
  Please provide either a URL or the full text of the Terms &amp; Conditions.
= f.input :terms_url, :as => :url, :label => "Terms URL"
= f.input :terms_text, :as => :text, :label => "Terms Text"

:javascript
  $(function() {
    $("fieldset.terms").find("input, textarea").keyup(function() {
      if ($(this).val().length > 0) {
        $(this).parents("fieldset").find("input, textarea").not($(this)).attr("disabled", "");
      } else {
        $(this).parents("fieldset").find("input, textarea").removeAttr("disabled");
      }
    });
  });
