.form-group
  %label.text.required{for: "giveaway_description"}
    %abbr{title: "required"}
    Description
  = f.input :description, as: :hidden, html: { 'data-trigger' => 'change', 'data-required' => 'true' }
  .btn-toolbar.m-b-sm.btn-editor{"data-role" => "editor-toolbar", "data-target" => "#editor"}
    .btn-group
      %a.btn.btn-default.btn-sm.dropdown-toggle{"data-toggle" => "dropdown", title: "Font"}
        %i.fa.fa-font
        %b.caret
      %ul.dropdown-menu
    .btn-group
      %a.btn.btn-default.btn-sm.dropdown-toggle{"data-toggle" => "dropdown", title: "Font Size"}
        %i.fa.fa-text-height
        %b.caret
      %ul.dropdown-menu
        %li
          %a{"data-edit" => "fontSize 5"}
            %font{size: "5"} Huge
        %li
          %a{"data-edit" => "fontSize 3"}
            %font{size: "3"} Normal
        %li
          %a{"data-edit" => "fontSize 1"}
            %font{size: "1"} Small
    .btn-group
      %a.btn.btn-default.btn-sm{"data-edit" => "bold", title: "Bold"}
        %i.fa.fa-bold
      %a.btn.btn-default.btn-sm{"data-edit" => "italic", title: "Italic"}
        %i.fa.fa-italic
      %a.btn.btn-default.btn-sm{"data-edit" => "strikethrough", title: "Strikethrough"}
        %i.fa.fa-strikethrough
      %a.btn.btn-default.btn-sm{"data-edit" => "underline", title: "Underline"}
        %i.fa.fa-underline
    .btn-group
      %a.btn.btn-default.btn-sm{"data-edit" => "insertunorderedlist", title: "Bullet list"}
        %i.fa.fa-list-ul
      %a.btn.btn-default.btn-sm{"data-edit" => "insertorderedlist", title: "Number list"}
        %i.fa.fa-list-ol
      %a.btn.btn-default.btn-sm{"data-edit" => "outdent", title: "Reduce indent"}
        %i.fa.fa-dedent
      %a.btn.btn-default.btn-sm{"data-edit" => "indent", title: "Indent"}
        %i.fa.fa-indent
    .btn-group
      %a.btn.btn-default.btn-sm{"data-edit" => "justifyleft", title: "Align Left"}
        %i.fa.fa-align-left
      %a.btn.btn-default.btn-sm{"data-edit" => "justifycenter", title: "Center"}
        %i.fa.fa-align-center
      %a.btn.btn-default.btn-sm{"data-edit" => "justifyright", title: "Align Right"}
        %i.fa.fa-align-right
      %a.btn.btn-default.btn-sm{"data-edit" => "justifyfull", title: "Justify"}
        %i.fa.fa-align-justify
    .btn-group
      %a.btn.btn-default.btn-sm.dropdown-toggle{"data-toggle" => "dropdown", title: "Hyperlink"}
        %i.fa.fa-link
      .dropdown-menu
        .input-group.m-l-xs.m-r-xs
          %input.form-control.input-sm{"data-edit" => "createLink", placeholder: "URL", type: "text"}/
          .input-group-btn
            %button.btn.btn-default.btn-sm{type: "button"} Add
      %a.btn.btn-default.btn-sm{"data-edit" => "unlink", title: "Remove Hyperlink"}
        %i.fa.fa-cut
    .btn-group
      %a.btn.btn-default.btn-sm{"data-edit" => "undo", title: "Undo"}
        %i.fa.fa-undo
      %a.btn.btn-default.btn-sm{"data-edit" => "redo", title: "Redo"}
        %i.fa.fa-repeat
  #editor.form-control{style: "overflow:scroll;height:150px;max-height:150px", 'data-required' => 'true', 'data-trigger' => 'change'}
    Description
