/* Preboot.scss
 * Variables and mixins to pre-ignite any new web development project
 * ------------------------------------------------------------------ */
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: ""; }
  .clearfix:after {
    clear: both; }

.container {
  width: 940px;
  margin: 0 auto;
  zoom: 1; }
  .container:before, .container:after {
    display: table;
    content: ""; }
  .container:after {
    clear: both; }

html {
  background: #F2F2F2; }

body {
  padding-top: 40px;
  background: #F2F2F2; }
  body > header.page-header {
    padding: 17px 0 20px;
    position: relative;
    background: #888; }
    body > header.page-header h1 {
      margin: 0;
      padding: 0;
      line-height: 38px;
      font-size: 30px;
      width: 480px;
      float: left;
      color: #0e0e0e; }
    body > header.page-header.facebook-page {
      padding: 17px 0;
      margin: 0;
      border-bottom: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
      body > header.page-header.facebook-page .avatar.page {
        width: 38px;
        height: 38px;
        float: left;
        background: #4A4A4A;
        margin: 0 20px 0 0;
        padding: 0; }
      body > header.page-header.facebook-page h1 a {
        color: #0e0e0e;
        text-decoration: none; }
        body > header.page-header.facebook-page h1 a:hover {
          text-decoration: none; }
    body > header.page-header nav.subnav {
      float: right;
      position: absolute;
      right: 0;
      bottom: 14px; }
      body > header.page-header nav.subnav .btn {
        margin-left: 10px; }
  body > .container {
    position: relative; }
    body > .container .sidebar {
      width: 190px;
      position: relative; }
      body > .container .sidebar .group {
        margin-bottom: 15px; }
        body > .container .sidebar .group .key {
          font-weight: bold; }
      body > .container .sidebar .field {
        position: relative;
        clear: both;
        zoom: 1; }
        body > .container .sidebar .field:before, body > .container .sidebar .field:after {
          display: table;
          content: ""; }
        body > .container .sidebar .field:after {
          clear: both; }
        body > .container .sidebar .field .key {
          float: left;
          width: 85px;
          margin-left: 10px;
          text-align: left;
          font-weight: normal;
          position: relative;
          z-index: 25; }
          body > .container .sidebar .field .key.wide {
            width: 115px; }
        body > .container .sidebar .field .value.highlight {
          float: left;
          margin: 7px 0 0;
          text-align: center;
          z-index: 0;
          background-color: #FEE9CC;
          color: rgba(0, 0, 0, 0.75);
          padding: 2px 5px 1px;
          font-family: "Monaco", Courier New, monospace;
          font-size: 14px;
          font-weight: normal;
          line-height: 18px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px; }
    body > .container .sections {
      width: 700px; }
      body > .container .sections .field {
        zoom: 1; }
        body > .container .sections .field:before, body > .container .sections .field:after {
          display: table;
          content: ""; }
        body > .container .sections .field:after {
          clear: both; }
    body > .container > footer {
      margin: 17px 0 34px; }
  body .alert-message {
    width: 450px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5000;
    margin-left: -239px; }
  body .block-message {
    top: 70px;
    left: 50%;
    z-index: 9100;
    -webkit-box-shadow: 0 1px 50px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 1px 50px rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 50px rgba(0, 0, 0, 0.6); }
  body .message-mask {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9000;
    background-color: #000;
    display: none;
    filter: alpha(opacity=70);
    -khtml-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
    width: 100%;
    height: 100%; }
