span.input-group {
	width: 550px;
	clear: both;
	padding: 20px 0;
	overflow: auto;
	display: block;
}

.input-group li {
	float: left;
	clear: both;
}

.input-group label {
	font-weight: bold;
}

.input-group .button {
	float: left;
	font-size: 12px;
	margin: 5px 0 0 15px;
}

.input-group .error {
	padding: 10px 0 10px 10px;
	margin: 10px 0;
}