.row
  #giveaway_accordion.column
    .ui.basic.fluid.accordion
      - if entries.any?
        %h3.ui.active.title
          %i.dropdown.icon
          Recent Entries
        .content.active.entries
          = render 'giveaways/active/entries', giveaway: giveaway, page: page, entries: entries
      %h3.ui.title{class: entries.any? ? '' : 'active'}
        %i.dropdown.icon
        Details
      .content.details{class: entries.any? ? '' : 'active'}
        = render 'giveaways/details', giveaway: giveaway, page: page
