.ui.basic.fluid.accordion
  %h3.ui.title
    %i.dropdown.icon
    Entries
  .content
    = render 'giveaways/active/entries', giveaway: giveaway, page: page
  %h3.ui.title
    %i.dropdown.icon
    Details
  .content
    = render 'giveaways/details', giveaway: giveaway, page: page
