.countdown-timer
  %p
    %span Ends in
    %span.weeks.time-wrapper.ui.circular.label
      %span#weeks.time
      %span.text Weeks
    %span.daysLeft.time-wrapper.ui.circular.label
      %span#daysLeft.time
      %span.text Days
    %span.hours.time-wrapper.ui.circular.label
      %span#hours.time
      %span.text Hours, and
    %span.minutes.time-wrapper.ui.circular.label
      %span#minutes.time
      %span.text Minutes
    %span.seconds.time-wrapper.ui.circular.label{style: "display:none"}
      %span#seconds.time
      %span.text Seconds

:javascript
  simpleGiveaways["active_giveaway"]["countdown_target"] = '#{giveaway.countdown_target}'
