= stylesheet_link_tag :footable

- if giveaway.entry_count > 0

  %p Click a header to sort that column. Click a row for detailed info.
  %table#entries.footable
    %thead
      %tr
        %th.header{"data-toggle" => "true"} Name/Email
        %th.header{"data-hide" => "phone"} Viral?
        %th.header{"data-hide" => "phone"} New Fan?
        %th.header{"data-hide" => "phone,tablet"} Wall Posts
        %th.header{"data-hide" => "phone,tablet"} Sends
        %th.header{"data-hide" => "phone,tablet"} Requests
        %th.header{"data-hide" => "phone,tablet"} Conversions
        %th.header{"data-hide" => "all"} Bonus Entries
        %th.header{"data-hide" => "phone,full"} Entry Time
    %tbody
      = render collection: giveaway.entries, partial: "giveaways/entry", as: :entry
    %tfoot
      %tr
        %th{colspan: '9'}
          = link_to '<i class="save icon"></i>Export Entries'.html_safe, export_entries_facebook_page_giveaway_path(page, giveaway), class: 'ui small teal labeled icon button'

    :javascript
      $(function() {
        $("table#entries").tablesorter({ sortList: [[8,1]] });
      });

