- if entries

  .panel.panel-default.entries-panel
    .panel-body
      = link_to '<i class="fa fa-save m-r-sm"></i>Export Entries'.html_safe, export_entries_facebook_page_giveaway_path(page, giveaway), class: 'btn btn-sm btn-default', target: '_blank'
    %table#entries_table.footable.toggle-arrow-tiny.table{data: { :'page-navigation' => '.entries-pager', :'page-size' => '10' }}
      %thead
        %tr
          %th.header.first-child.th-sortable{"data-toggle" => "true"}
            Name/Email
          %th.header.th-sortable{"data-hide" => "all"} Email
          - if giveaway.canhaz_referral_tracking?
            %th.header.th-sortable{"data-hide" => "mini"}
              Viral?
          %th.header.th-sortable{"data-hide" => "mini"}
            New Fan?
          %th.header.th-sortable{"data-hide" => "mini,phone", "data-type" => "numeric"}
            Shares
          - if giveaway.canhaz_advanced_analytics?
            %th.header.th-sortable{"data-hide" => "mini,phone,tablet,full", "data-type" => "numeric"}
              Wall Posts
            %th.header.th-sortable{"data-hide" => "mini,phone,tablet,full", "data-type" => "numeric"}
              Requests
          - if giveaway.canhaz_referral_tracking?
            %th.header.th-sortable{"data-hide" => "mini,phone,tablet,full", "data-type" => "numeric"}
              Conversions
          %th.header.th-sortable{"data-hide" => "all", "data-type" => "numeric"}
            Bonus Entries
          %th.header.last-child.th-sortable{"data-hide" => "mini,phone,tablet", "data-type" => "numeric", "data-sort-initial" => "descending"}
            Entry Time
      %tbody
        = render collection: entries, partial: 'giveaways/entry', as: :entry
      %tfoot
        %tr
          %td{colspan: '11'}
            %ul.entries-pager.pagination.pagination-md.m-t-none.m-b-none
