<h3>Facebook Pages</h3>
<% @user.facebook_pages.each do |page| %>
	<ul>
		<li>
			<span class="avatar"><%= image_tag page.avatar rescue nil %></span>
			<span class="name"><%= page.name rescue nil %></span>
			<span class="likes"><%= page.likes rescue nil %></span>
		</li>
	</ul>
<% end %>