<h3>Giveaways</h3>
<% @user.giveaways.each do |giveaway| %>
	<ul>
		<li class="clearfix">
			<%= image_tag giveaway.image.url(:thumb), :class => "thumb" rescue nil %>
			<span class="title"><strong><%= link_to giveaway.title, giveaway rescue nil %></strong></span><br />
			<span class="description"><%= giveaway.description rescue nil %></span>
		</li>
	</ul>
<% end %>