:javascript
  $(function() {
    var getURLParameter = function(name) {
      return decodeURI(
        (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search) || [, false])[1]
      );
    };

    if (getURLParameter("login") === "true") {

      var jug = new Juggernaut,
          stale_count = $(".facebook_page_preview").length;

      jug.subscribe("users#show_#{key}", function(jug_data) {

        var jug_data = JSON.parse(jug_data),
            $markup = $(jug_data.markup),
            $menu_item = $(jug_data.menu_item),
            pid = $markup.data("fb-pid"),
            $pid_el = $("[data-fb-pid=" + pid + "]"),
            $menu_el = $("header.site .dropdown-menu.pages");

        $(".loader").slideUp().hide();

        if ($pid_el.length) {
          $pid_el.replaceWith($markup);
        } else {
          $(".tab-content .container").append($markup);
        }

        if ($menu_el.find("li[data-fb-pid='" + pid + "']").length)
          $menu_el.find("li[data-fb-pid='" + pid + "']").replaceWith($menu_item);
        else {
          $menu_el.append($menu_item);
        }

        $markup.find(".dynamo").dynamo();

        if (jug_data.is_last == "true") {

          var previous_dynamo = $(".pane_heading h2 .dynamo").text();
          var fresh_count = $(".facebook_page_preview").length;
          var new_markup = "<span class='dynamo count' data-lines='" + fresh_count + "'>" + stale_count + "</span>";

          $(".pane_heading h2 .dynamo").replaceWith(new_markup);
          $(".page_subtitle .dynamo").replaceWith(new_markup);
          $(".dynamo.count").dynamo();

          jug.unsubscribe("users#show_#{key}");
        }

        jug.on("disconnect", function () {
          jug.unsubscribe("users#show_#{key}");
        });
      }, {
        key: "#{key}"
      });
    }
  });