- content_for :content do

  #user_facebook_pages

    - if current_user.finished_onboarding?

      = render 'users/facebook_pages'

  - unless current_user.finished_onboarding?

    #pages_poller
      = render 'shared/loader', text: 'Loading Your Facebook Pages'
