- content_for :page_heading do
  %h1= current_user.name
  %p
    6 Pages

- content_for :avatar do
  %a{:href => "#", :class => "avatar" }
    = image_tag( current_user.avatar , :alt => current_user.name, :width => "125", :height => "125")

- content_for :links do
  %li.active
    %a{ :href => "#page_giveaways_active", :"data-toggle" => "tab"}
      %i.icon-flag
      Pages
  %li
    %a{ :href => "#page_giveaways_pending", :"data-toggle" => "tab"}
      %i.icon-user
      Account
  %li
    %a{ :href => "#page_giveaways_completed", :"data-toggle" => "tab"}
      %i.icon-calendar
      Billing
  %li
    %a{ :href => "#page_stats", :"data-toggle" => "tab"}
      %i.icon-book
      Resources

= render "users/facebook_pages"

= render "shared/activity_feed"