- content_for :sidebar do

  = render 'users/avatar'

- content_for :content do

  - if current_user.facebook_pages.any?

    = render 'users/facebook_pages'

  - else

    .ui.active.dimmer
      .ui.large.inverted.text.loader Loading Your Facebook Pages
