@import "bootstrap/preboot.scss";

body {
  padding-top: 80px;

  > .container {
    position: relative;

    > header {
      position: relative;

      > h1 {
        width: 450px;
        float: left;
      }

      > nav.subnav {
        float: right;
        position: absolute;
        right: 0;
        bottom: 14px;

        .btn {
          margin-left: 10px;
        }
      }
    }

    .sidebar {
      width: 190px;
      position: relative;

      .group {
        margin-bottom: 15px;

        .key {
          font-weight: bold;
        }
      }

      .field {
        position: relative;
        clear: both;
        @include clearfix;

        .key {
          float: left;
          width: 85px;
          margin-left: 10px;
          text-align: left;
          font-weight: normal;
          position: relative;
          z-index: 25;

          &.wide {
            width: 115px;
          }
        }

        .value.highlight {
          float: left;
          margin: 7px 0 0;
          text-align: center;
          z-index: 0;
          @include highlight;
        }
      }
    }

    .sections {
      width: 700px;

      .field {
        @include clearfix;
      }
    }

    > footer {
      margin: 17px 0 34px;
    }
  }

  .alert-message {
    width: 450px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5000;
    margin-left: -239px;
  }

  .block-message {
    top: 70px;
    left: 50%;
    z-index: 9100;
    @include box-shadow(0 1px 50px rgba(0,0,0,0.6));
  }

  .message-mask {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9000;
    background-color: #000;
    display: none;
    @include opacity(70);
    width: 100%;
    height: 100%;
  }
}

