@import "bootstrap/preboot.scss";

html {
  background: #F2F2F2;
}

body {
  padding-top: 40px;
  background: #F2F2F2;

  > header.page-header {
    padding: 17px 0 20px;
    position: relative;
    background: #888;

    h1 {
      margin: 0;
      padding: 0;
      line-height: 38px;
      font-size: 30px;
      width: 480px;
      float: left;
      color: #0e0e0e;
    }

    &.facebook-page {
      padding: 17px 0;
      margin: 0;
      border-bottom: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;

      .avatar.page {
        width: 38px;
        height: 38px;
        float: left;
        background: #4A4A4A;
        margin: 0 20px 0 0;
        padding: 0;
      }  
      
      h1 {
        
        a {
          color: #0e0e0e;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    nav.subnav {
      float: right;
      position: absolute;
      right: 0;
      bottom: 14px;

      .btn {
        margin-left: 10px;
      }
    }
  }

  > .container {
    position: relative;

    .sidebar {
      width: 190px;
      position: relative;

      .group {
        margin-bottom: 15px;

        .key {
          font-weight: bold;
        }
      }

      .field {
        position: relative;
        clear: both;
        @include clearfix;

        .key {
          float: left;
          width: 85px;
          margin-left: 10px;
          text-align: left;
          font-weight: normal;
          position: relative;
          z-index: 25;

          &.wide {
            width: 115px;
          }
        }

        .value.highlight {
          float: left;
          margin: 7px 0 0;
          text-align: center;
          z-index: 0;
          @include highlight;
        }
      }
    }

    .sections {
      width: 700px;

      .field {
        @include clearfix;
      }
    }

    > footer {
      margin: 17px 0 34px;
    }
  }

  .alert-message {
    width: 450px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5000;
    margin-left: -239px;
  }

  .block-message {
    top: 70px;
    left: 50%;
    z-index: 9100;
    @include box-shadow(0 1px 50px rgba(0,0,0,0.6));
  }

  .message-mask {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9000;
    background-color: #000;
    display: none;
    @include opacity(70);
    width: 100%;
    height: 100%;
  }
}

