h2 {
  margin-bottom: 20px; }

h3 {
  margin-bottom: 25px; }

ul li {
  list-style-type: none; }

nav.subnav {
  height: 50px; }

article.module {
  padding: 20px 0;
  clear: both; }

img.thumb {
  float: left;
  margin-right: 20px; }
