%li.facebook_page.span3
  .thumbnail
    .caption
      %h3= link_to facebook_page.name, facebook_page_path(facebook_page)
      %p
        %a.btn.btn-primary{:href => "#"} Action
        %a.btn{:href => "#"} Action
