%ul.nav.nav-tabs
  %li.active= link_to "Overview", "#page_overview", :"data-toggle" => "tab"
  %li= link_to "Active Giveaway", "#page_giveaways_active", :"data-toggle" => "tab"
  %li= link_to "Pending Giveaways", "#page_giveaways_pending", :"data-toggle" => "tab"
  %li= link_to "Completed Giveaways", "#page_giveaways_completed", :"data-toggle" => "tab"