= link_to "Create a New Giveaway", new_facebook_page_giveaway_path(@page), :class => "btn btn-primary btn-xlarge create-giveaway"


-#%ul.thumbnails
-#  %li.span6
-#    .thumbnail
      -#.avatar.mask
      -#  %img{:alt => @page.name, :src => @page.avatar_large}
      -#  .caption
      -#    %h5= @page.name
      -#    %p= @page.description
      -#    %p
      -#      %a.btn.btn-primary{:href => "#"} Action
      -#      %a.btn{:href => "#"} Action