= link_to "New Giveaway", new_facebook_page_giveaway_path(@page), :class => "btn btn-large btn-primary"

%ul.thumbnails
  %li.span6
    .thumbnail
      %img{:alt => @page.name, :src => @page.avatar}
        .caption
          %h5= @page.name
          %p= @page.description
          %p
            %a.btn.btn-primary{:href => "#"} Action
            %a.btn{:href => "#"} Action