%li.span5
  %a{:href => facebook_page.url, :class => "avatar" }
    = image_tag(facebook_page.avatar_square, :width => "270", :height => "270")
  %h3= facebook_page.name
  = link_to "", facebook_page_path(facebook_page), :class => "page-link"
