%li.thumbnail.facebook_page
  .avatar= image_tag facebook_page.avatar_square
  %h3= facebook_page.name
  %i.icon-chevron-right
  = link_to "", facebook_page_path(facebook_page), :class => "page-link"

