.item.facebook-page{ :'data-fb-pid' => facebook_page.pid }
  .image
    = image_tag(facebook_page.avatar_large)
    .like.ui.corner.label
      %i.like.icon
  .content
    .meta #{facebook_page.likes} Likes
    .name= facebook_page.name
    %p.description
    .extra
