.facebook_page_preview{ :'data-fb-pid' => facebook_page.pid }
  .image
    %a{href: facebook_page_path(facebook_page), class: "avatar" }
      = image_tag(facebook_page.avatar_square, width: "100")
  .title
    %h1= link_to facebook_page.name, facebook_page_path(facebook_page)
    %h2
      %span= facebook_page.likes
      %span.gray Likes
  .buttons
    %a{href: facebook_page_path(facebook_page), class: "btn btn-large btn-edit" }
      %i.icon-flag
      Manage Page