.row.aligned.center
  .sixteen.wide.column
    .ui.circular.image.masked-avatar.facebook-page{ style: "background-image: url('#{giveaway.facebook_page.avatar_large}');" }
    .ui.circular.image.masked-avatar.giveaway{ style: "background-image: url('#{giveaway.image(:medium)}');" }
