.ui.very.wide.floating.overlay.styled.sidebar
  .ui.header
    Start Giveaway
  .ui.segment.content
    = render 'giveaways/actions/step_one', giveaway: giveaway, facebook_page: giveaway.facebook_page
    = render 'giveaways/actions/step_two', giveaway: giveaway, facebook_page: giveaway.facebook_page
  .actions
    .ui.two.fluid.buttons
      .ui.labeled.icon.deny.button
        %i.remove.icon
        Cancel
      .ui.teal.right.labeled.icon.approve.button
        Next
        %i.right.arrow.icon
