#step_one.modal-step{:'data-modal-step' => 1}
  .ui.grid
    = render 'giveaways/actions/avatars', giveaway: giveaway
    .row
      .sixteen.wide.column
        = render 'giveaways/form/publish_confirm', giveaway: giveaway
