.countdown.pull-right
  .btn-group.btn-end.pull-right
    %a{ :href => "#", :class => "btn btn-danger dropdown-toggle", :"data-toggle" => "dropdown" }
      %i.icon-remove.icon-white
      End
      %b.caret
    %ul.dropdown-menu
      %li
        %a{:href => "#",}
          %i.icon-time
          Edit End Time
      %li.divider
      %li
        %a{:href => end_giveaway_path(giveaway) }
          %i.icon-remove
          End Now
  %h3.pull-right Giveaway Ends in 23:34:34:34
%header.giveaway_preview
  .image
    = image_tag(giveaway.feed_image(:feed))
  .title
    %h1= link_to  giveaway.title, giveaway_path(giveaway)
    %h2
      %span.gray Prize
      #{giveaway.prize}
  .buttons
    %a{:href => giveaway_path(giveaway), :class => "btn btn-large btn-edit" }
      %i.icon-edit
      Edit
/%section.giveaway-header
/  .image
/    = image_tag(giveaway.feed_image(:feed))
/  .title
/    %h1= link_to  giveaway.title, giveaway_path(giveaway)
/    %h2
/      %span.gray Prize
/      #{giveaway.prize}
/  .buttons
/    %a{:href => edit_giveaway_path(giveaway), :class => "btn btn-large btn-edit" }
/      %i.icon-edit
/      Edit
  

%section.stats
  .row
    %ul.stat-box.span3
      %li.primary
        %h2.stat-label Views
        %h3.stat-value 34,234
      %li.secondary
        %h2.stat-label Unique Views
        %h3.stat-value 31,912
      %li.secondary 
        %h2.stat-label Viral Views
        %h3.stat-value 6,118
    %ul.stat-box.span3
      %li.primary
        %h2.stat-label Likes
        %h3.stat-value 16,340
      %li.secondary
        %h2.stat-label Likes From Entries
        %h3.stat-value 14,120
      %li.secondary 
        %h2.stat-label Viral Likes
        %h3.stat-value 4,345
    %ul.stat-box.span3
      %li.primary
        %h2.stat-label Entries
        %h3.stat-value 15,340
      %li.secondary
        %h2.stat-label Entry Rate
        %h3.stat-value 48%
      %li.secondary 
        %h2.stat-label Viral Entries
        %h3.stat-value 5,340
    %ul.stat-box.span3
      %li.primary
        %h2.stat-label Shares
        %h3.stat-value 3,981
      %li.secondary
        %h2.stat-label Wall Posts
        %h3.stat-value 1,841
      %li.secondary 
        %h2.stat-label Requests
        %h3.stat-value 2,140
%section.entries
  %h2.pull-left Entries
  %a{:class => "btn pull-right"}
    %i.icon-download-alt
    Download .CSV
  .clearfix
  %table#entries.table.table-bordered
    %thead
      %tr
        %th.header
          ID
        %th.header
          E-mail
        %th.header
          Post?
        %th.header
          Requests
        %th.header
          Conversions
        %th.header
          Bonus Entries
        %th.header
          Entry Time
    %tbody
      %tr
        %td
          Brian Dillon
        %td
          bdillon3@gmail.com
        %td
          Yes
        %td
          4
        %td
          1
        %td
          5
        %td
          11.28.11 @ 12:34:50 EST


:javascript
  $(function() {
    $(".btn.btn-large.btn-danger").popover({"title": "Warning", "content": "Pushing this button will end the giveaway immediately. Please ensure that doing so will not violate the giveaway's terms."});
  });