= render 'giveaways/active/kpi', giveaway: giveaway, page: page

= render 'giveaways/active/accordion', giveaway: giveaway, page: page, flot: flot

:javascript
  simpleGiveaways["active_giveaway"]["shortlink"] = "#{giveaway.shortlink}";
