%section.entries.thumbnail
  %h2.pull-left Entries
  = link_to '<i class="icon-download-alt"></i>Export Entries'.html_safe, export_entries_facebook_page_giveaway_path(page, giveaway), class: "btn pull-right"
  .clearfix
  %table#entries.table.zebra-striped
    %thead
      %tr
        %th.header Name
        %th.header Email
        %th.header Viral?
        %th.header New Fan?
        %th.header Wall Posts
        %th.header Requests
        %th.header Conversions
        %th.header Bonus Entries
        %th.header Entry Time
    %tbody
      = render collection: giveaway.entries, partial: "giveaways/entry", as: :entry

  :javascript
    $(function() {
      $("table#entries").tablesorter({ sortList: [[8,1]] });
    });
