- @page.giveaways.limit(1).each do |giveaway|
  %section.entries
    %h2.pull-left Entries
    %a{:class => "btn pull-right"}
      %i.icon-download-alt
      Download .CSV
    .clearfix
    %table#entries.table.table-bordered
      %thead
        %tr
          %th.header
            ID
          %th.header
            E-mail
          %th.header
            Post?
          %th.header
            Requests
          %th.header
            Conversions
          %th.header
            Bonus Entries
          %th.header
            Entry Time
      %tbody
        %tr
          %td
            Brian Dillon
          %td
            bdillon3@gmail.com
          %td
            Yes
          %td
            4
          %td
            1
          %td
            5
          %td
            11.28.11 @ 12:34:50 EST