%section.entries.thumbnail
  %h2.pull-left Entries
  = link_to '<i class="icon-download-alt"></i>Export Entries'.html_safe, export_entries_facebook_page_giveaway_path(@page, giveaway), class: "btn pull-right"
  .clearfix
  %table#entries.table.table-bordered
    %thead
      %tr
        %th.header Name
        %th.header Email
        %th.header Wall Posts
        %th.header Requests
        %th.header Conversions
        %th.header Entry Time
    %tbody= render collection: giveaway.entries, partial: "giveaways/entry", as: :entry
