- if giveaway.active?

  = render 'giveaways/active', giveaway: giveaway, page: giveaway.facebook_page, flot: flot

- elsif giveaway.pending?

  = render 'giveaways/pending', giveaway: giveaway

- elsif giveaway.completed?

  = render 'giveaways/completed', giveaway: giveaway, flot: flot
