- if page.audits.any? && flot[:page_likes]

  = stylesheet_link_tag "graph"

  :javascript
    simpleGiveaways["flot"]["page_likes"] = #{flot[:page_likes]};
    simpleGiveaways["flot"]["entries"] = #{flot[:entries]};
    simpleGiveaways["flot"]["views"] = #{flot[:views]};

  %section.graphs.thumbnail
    .graph-placeholder