- @page.giveaways.limit(1).each do |giveaway|
  %section.giveaway-header
    = image_tag(giveaway.feed_image, :width => "90", :height => "90")
    .giveaway-title
      %h1
        %a{ :href => giveaway_path(giveaway), :rel => "tooltip", :title => "Open giveaway in a new window", :"data-placement" => "bottom"}
          = giveaway.title 
      .buttons
        %a{:href => edit_facebook_page_giveaway_path(@page), :class => "btn btn-large pull-left" }
          %i.icon-edit
          Edit
        .btn-group.pull-left
          %a{ :href => "#", :class => "btn btn-large btn-danger dropdown-toggle", :"data-toggle" => "dropdown" } 
            %i.icon-remove.icon-white
            End
            %b.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#",}
                %i.icon-time
                Edit End Time
            %li.divider
            %li
              %a{:href => "#",}
                %i.icon-remove
                End Now