.span5.pull-left
  .pending-giveaway
    = image_tag(giveaway.image(:gallery))
    .tip.bottom
      %h1= giveaway.title
      %a{:href => edit_giveaway_path(giveaway), :class => "btn btn btn-edit" }
        %i.icon-star.icon-edit
        Edit
      %a{:href => start_giveaway_path(giveaway), :class => "btn btn btn-primary btn-publish" }
        %i.icon-star.icon-white
        Publish