.alert
  %p 
    Pending Giveaways
- @page.giveaways.each do |giveaway|
  .giveaway
    %section.giveaway-header
      = image_tag(giveaway.feed_image, :width => "90", :height => "90")
      .giveaway-title
        %h1= link_to giveaway.title, giveaway_path(giveaway)
        .buttons
          %a{:href => edit_facebook_page_giveaway_path(@page), :class => "btn btn-large pull-left" }
            %i.icon-edit
            Edit
          %a{:href => "#publish", :class => "btn btn-large btn-primary pull-left btn-publish" }
            %i.icon-star.icon-white
            Publish to Tab
          