- @page.giveaways.limit(1).each do |giveaway|
  .clearfix
  %section.stats
    .stat-box
      %h2
        1,000
      %p
        Total Likes (?)
    .stat-box
      %h2
        1,000
      %p
        Total Likes (?)
    .stat-box
      %h2
        1,000
      %p
        Total Likes (?)
    .stat-box
      %h2
        1,000
      %p
        Total Likes (?)
    .stat-box
      %h2
        1,000
      %p
        Total Likes (?)
    .stat-box
      %h2
        1,000
      %p
        Total Likes (?)
    .stat-box
      %h2
        1,000
      %p
        Total Likes (?)
    .stat-box
      %h2
        1,000
      %p
        Total Likes (?)
    .stat-box
      %h2
        1,000
      %p
        Total Likes (?)
    .stat-box
      %h2
        1,000
      %p
        Total Likes (?)