<nav class="subnav">
	<div class="button-wrapper">
	  <span class="button pill">
			<% if @giveaway.is_live? %>
				<%= link_to "End Giveaway", manual_end_giveaway_path(@giveaway), :id => "end_giveaway" %>
			<% else %>
				<%= link_to "Start Giveaway", manual_start_giveaway_path(@giveaway), :id => "start_giveaway" %>
			<% end %>
		</span>
	</div>
</nav>