- content_for :content_header do
  %h2 Active Giveaway

- if @giveaways.present? && @giveaways.status == "Active" && @giveaways.end_date >= Time.zone.now

  = render object: @giveaways, partial: "active_giveaway", as: :giveaway,
           locals: { page: @page, flot: @flot }

- else

  %section.no_active
    .create-giveaway
      %h1 There is no active giveaway on your page right now.
      = link_to "Create a New Giveaway", new_facebook_page_giveaway_path(@page), class: "btn btn-success btn-xlarge"
      - if @page.giveaways.pending.any?
        %h4 or
        %h1
          Publish one of your
          = link_to "pending giveaways", pending_facebook_page_giveaways_path(@page)