- content_for :content do

  - if @giveaway && @giveaway.active?

    = render @giveaway, page: @page, flot: @flot, entries: @entries

  - else

    .ui.message
      %i.close.icon
      .content
        .header There is no active giveaway on your page right now.
        %p Create a new giveaway to publish later or publish one of your pending giveaways.
        .ui.small.buttons
          = link_to '<i class="add sign icon"></i>New Giveaway'.html_safe, new_facebook_page_giveaway_path(@page), class: "#{@page.giveaways.pending.any? ? 'ui button' : 'ui teal button'}"
          - if @page.giveaways.pending.any?
            .or
            = link_to '<i class="time icon"></i>Pending Giveaways'.html_safe, pending_facebook_page_giveaways_path(@page), class: 'ui teal button'
