- content_for :content_header do
  %h2 Completed Giveaways

%table.table.table-bordered
  %tr
    %td Image
    %td Title
    %td Ended
    %td Entries
    %td Views
  = render collection: @giveaways, partial: "list_item", page: @page, as: :giveaway