- content_for :page_heading do
  = render 'facebook_pages/header', content: 'Completed Giveaways'

- if @giveaways.any?

  = render 'facebook_pages/giveaways', giveaways: @giveaways

- else

  .ui.message
    .content
      .header There are no completed giveaways yet.
      %p Create a new giveaway to publish later.
      = link_to '<i class="add sign icon"></i>New Giveaway'.html_safe, new_facebook_page_giveaway_path(@page), class: 'ui small teal button'
