- content_for :content do

  - if @page.giveaways.pending.any?

    - if @page.giveaways.active.any?

      .ui.message
        .content
          .header There is an active giveaway on your page right now.
          %p You can publish a pending giveaway once your active giveaway has ended.

    - else

      .ui.message
        .content
          .header There is no active giveaway on your page right now.
          %p Go ahead and publish one.

    %h3.ui.fluid.header Pending Giveaways
    = render 'facebook_pages/giveaways', giveaways: @giveaways

  - else

    .ui.message
      .content
        .header There are no pending giveaways.
        %p Create a new giveaway to publish later.
        = link_to '<i class="add sign icon"></i>New Giveaway'.html_safe, new_facebook_page_giveaway_path(@page), class: 'ui small teal button'
