- content_for :content_header do
  %h2 Pending Giveaways

- if @page.giveaways.pending.any?

  -if @page && @page.giveaways.active.any?
    
    %section.no_active
      .create-giveaway
        %h1 There is an active giveaway on your page right now. You can publish a pending giveaway only once your the active giveaway has ended.

  - else

    %section.no_active
      .create-giveaway
        %h1 There is no active giveaway on your page right now.
        %h3 So go ahead and publish one

  = render collection: @giveaways, partial: "list_item", as: :giveaway, locals: { page: @page }

- else

  -if @page && @page.giveaways.active.any?

    %section.no_active
      .create-giveaway
        %h1 THERE IS AN ACTIVE There are no pending giveaways. Create a new giveaway to publish later.
        = link_to "Create a New Giveaway", new_facebook_page_giveaway_path(@page), class: "btn btn-success btn-xlarge"

  - else

    %section.no_active
      .create-giveaway
        %h1 THERE IS NO ACTIVE There are no pending giveaways. Create a new giveaway to publish later.
        = link_to "Create a New Giveaway", new_facebook_page_giveaway_path(@page), :class => "btn btn-success btn-xlarge"




 
  
  


