#enter_giveaway
  %a{href: "#"} Enter Giveaway
#giveaway_image
  = image_tag @giveaway_hash.giveaway.image_url
#giveaway_terms
  %p This promotion is in no way sponsored, endorsed or administered by, or associated with, Facebook. You understand that you are providing your information to "#{@giveaway_hash.current_page.name}" and not to Facebook. Your information will only be used to administer this promotion. Entry in this promotion is subject to the offical terms.
#giveaway_modal{style: "display:none"}
  .step.one
    %span To be eligible for the giveaway, please like this page first.
    %fb:like-box{border_color: "", header: "false", href: @giveaway_hash.current_page.url, show_faces: "true",
    stream: "false", width: "402"}
  .step.two{style: "display:none"}
    %a{href: "#"} Click Here to Enter the Giveaway
  .step.three{style: "display:none"}
    .entry-status
      %span Congratulations!
      %span You have successfully entered the giveaway.
    .share-page
      %span Share this page to receive a bonus entry.
      %a.wall-post{href: "#"} Post to Wall
      %a.app-request{href: "#"} Post to Friends
  .loader{style: "display:none"}
    = image_tag "tab_loader.gif", alt: "Loading..."