/*
*= require ../../../vendor/assets/stylesheets/bootstrap
*= require editable/bootstrap-editable
*= require ../../../vendor/assets/javascripts/wysiwyg/bootstrap-wysihtml5
*= require ../../../vendor/assets/javascripts/wysiwyg/wysiwyg-color
*= require ../../../vendor/assets/stylesheets/animate
*= require ../../../vendor/assets/stylesheets/font-awesome.min
*= require ../../../vendor/assets/stylesheets/font
*= require ../../../vendor/assets/javascripts/calendar/bootstrap_calendar
*= require ../../../vendor/assets/stylesheets/app
*= require ../../../vendor/assets/javascripts/fuelux/fuelux
*= require ../../../vendor/assets/javascripts/pickadate/default
*= require ../../../vendor/assets/javascripts/pickadate/default.date
*= require ../../../vendor/assets/javascripts/pickadate/default.time
*= require_self
*/

@import 'mixins';

@font-face {
  font-family: 'Glyphicons Halflings';
  src: asset-url('glyphicons-halflings-regular.eot', font);
  src: asset-url('glyphicons-halflings-regular.eot?#iefix', font) format('embedded-opentype'), asset-url('glyphicons-halflings-regular.woff', font) format('woff'), asset-url('glyphicons-halflings-regular.ttf', font) format('truetype'), asset-url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular', font) format('svg');
}

@font-face {
  font-family: 'FontAwesome';
  src: asset-url('fontawesome-webfont.eot?v=4.0.3', font);
  src: asset-url('fontawesome-webfont.eot?#iefix&v=4.0.3', font) format('embedded-opentype'), asset-url('fontawesome-webfont.woff?v=4.0.3', font) format('woff'), asset-url('fontawesome-webfont.ttf?v=4.0.3', font) format('truetype'), asset-url('fontawesome-webfont.svg?v=4.0.3#fontawesomeregular', font) format('svg');
  font-weight: normal;
  font-style: normal
}

.text-right-sm,
.text-center-sm {
  text-align: left;
}

.text-center-xs {
  text-align: center;
}

.m-l-md-xs {
  margin-left: 20px;
}

.m-t-sm-xs {
  margin-top: 10px;
}

.m-b-sm-xs {
  margin-bottom: 10px;
}

.avatar-push {
  margin-left: 89px;
}

@media (min-width: 768px) {

  .text-right-sm {
    text-align: right;
  }

  .text-center-sm {
    text-align: center;
  }

  .text-center-xs {
    text-align: left;
  }

  .m-r-md-sm {
    margin-right: 20px;
  }

  .m-l-md-xs {
    margin-left: auto;
  }

  .m-t-sm-sm {
    margin-top: 10px;
  }

  .m-t-sm-xs {
    margin-top: auto;
  }

  .m-b-sm-xs {
    margin-bottom: auto;
  }

  .avatar-push {
    margin-left: auto;
  }
}

.avatar-wrapper {
  width: 64px;
  height: 64px;
  border: 3px solid rgba(255, 255, 255, 0.35);
  border-radius: 500px;
  overflow: hidden;

  .thumb {

    &.masked.avatar {
      width: 64px;
      height: 64px;
      display: inline-block;
      overflow: hidden;
      background-position: center center !important;
      -webkit-background-size: cover !important;
      background-size: cover !important;
      position: relative;
      left: -3px;
      top: -3px;
    }
  }
}

.giveaway-start-date-warning,
.giveaway-end-date-warning {
  cursor: pointer;

  &:hover,
  &:focus {
    color: #4A647E;
  }
}

#giveaway_start_date,
#giveaway_end_date {

  .conflicts-container {
    display: none;
    margin-bottom: 5px;
  }
}

.wizard-container {

  #giveaway_start_date,
  #giveaway_end_date {

    .conflicts-container {
      margin-bottom: 15px;
    }
  }

  .step-pane {

    &.images {

      .form-group.row {
        margin-bottom: 0;
      }
    }
  }
}

.btn-group {

  &.btn-group-relaxed {
    width: 100%;

    .btn {
      width: 48%;

      &:first-child:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }

      &:last-child {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }

      &.btn-left {
        width: 48%;
      }

      &.btn-right {
        float: right;
      }
    }
  }
}

/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.bs-callout {
  margin-bottom: 15px;
  padding: 20px;
  border-left: 3px solid #eee;

  h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 500;
  }

  a {
    font-weight: 500;
    font-size: 14px;
  }

  p {
    font-size: 14px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* Variations */
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #eed3d7;
}
.bs-callout-danger h4,
.bs-callout-danger a {
  color: #b94a48;
}
.bs-callout-warning {
  background-color: #faf8f0;
  border-color: #faebcc;
}
.bs-callout-warning h4,
.bs-callout-warning a {
  color: #8a6d3b;
}
.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}
.bs-callout-info h4,
.bs-callout-info a {
  color: #34789a;
}

.navbar-brand {
  font-size: 18px;

  i {
    margin-right: 5px;
  }
}

/*
 * Navigation
 *
 */

.my-pages-dropdown {

  i {
    margin-right: 5px;
  }

  .dropdown-menu {
    padding-top: 0;

    .panel-heading {
      border-bottom: 1px solid #E8E8E8;
    }

    .list-group-item {

      &:hover, &:focus, &.active {
        color: #1B252E !important;
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.02) !important;
        border-color: #E8E8E8 !important;
      }

      .media-body {

        div {
          color: #2E3E4E;
        }

        small {
          color: #979797;
        }
      }
    }
  }
}

.header {

  &.navbar {

    .nav > li.dropdown.open {

      a.dropdown-toggle {
        background-color: #1B252E;
        color: #FFF;
      }
    }

    .nav > li > a.dropdown-toggle {

      &:focus {
        background: rgba(0, 0, 0, 0);
      }

      &.dker:hover,
      &.dker:focus {
        background-color: #1B252E;
      }
    }
  }
}

.nav-primary > ul > li > a {

  span.hidden-nav {
    display: none;
  }
}

.nav-xs .nav-primary > ul > li > a {

  span.hidden-nav {
    display: table-cell;
  }

  span.hidden-nav-xs {
    display: none;
  }
}

.new-giveaway-dropdown {

   > .btn:hover,
   > .btn:focus,
   > .btn:active {
    z-index: 0;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {

  span.multi-heading {

    span.level-two {
      font-size: 80%;
    }
  }
}

/*
 * Forms
 *
 */

input[type="file"] {

  &.form-control {
    width: auto;
  }
}

.wizard {

  ul li:first-child {
    border-top-left-radius: 0;
  }
}

.form-group {

  &.giveaway_description {

    .parsley-error-list ~ .wysihtml5-sandbox {
      margin-top: 5px !important;
      border-color: #FF5F5F !important;
    }

    .parsley-error-list {
      margin-top: 0;
    }
  }

  &.boolean {
    margin-bottom: 5px;
  }

  label {

    &.switch {
      cursor: pointer;

      > label {
        cursor: pointer;
        position: relative;
        top: -11px;
        margin-left: 15px;
      }

      input + span {
        background-color: #FB6B5B;
      }

      input:checked + span {
        background-color: #8ec165;
      }
    }
  }

  &.text {
    display: block !important;
  }

  &.file {

    label {
      display: block;
    }

    .bootstrap-filestyle {

      label {
        display: inline;
      }
    }
  }
}

.truncate_ellipsis {
  display: inline;
}

.truncate-toggle {
  margin-top: 5px;
}

.modal {
  z-index: 2000;

  &#start_giveaway_modal {

    .modal-body {
      padding-bottom: 0;
    }
  }
}

button {
  outline: none !important;
}

.panel {

  &.image-panel {

    &.bleed {

      .panel-body {
        padding: 0;
      }
    }

    img {
      max-width: 100%;
    }
  }

  .panel-body {

    &.panel-body-callout {
      padding: 0;

      .bs-callout {
        margin: 0;
        border: 0 none;
        background: none;
      }
    }
  }
}

#giveaway_details {

  .list-group-item {
    @include word-wrap;

    &.bool-true,
    &.bool-false {

      span.label {
        text-transform: uppercase;
      }

      .editable-container {

        .editable-input {
          min-width: 100px;
        }
      }

      .editable-buttons {
        display: inline-block;
        margin-left: 7px;
        margin-top: 0;
      }
    }

    .editable-click, a.editable-click, a.editable-click:hover {
      border-bottom: 0 none;
    }

    .editable-trigger {
      font-weight: bold;
    }

    .editable-container {
      display: block;

      .control-group {
        display: block;
      }

      .editable-input {
        min-width: 90%;
      }
    }

    .editable-buttons {
      display: block;
      margin-left: 0;
      margin-top: 8px;
    }

    .editable-wysiwyg {
      margin-bottom: 5px;

      & + .editable-container {

        .editable-input {
          min-width: 100%;
        }
      }
    }

    .pickadate-outlet {
      font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      font-weight: 200;
    }
  }

  .giveaway-image.panel {

    img {
      width: 810px;
    }
  }

  .image-panel {

    .panel-body {
      position: relative;
    }

    &.feed-image {

      img {
        float: left;
      }
    }

    &.edit-mode {

      .panel-body {
        text-align: center;
      }

      &.giveaway-image {

        form {
          padding: 80px 40px 40px;
        }
      }

      form {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0 auto;
        width: 100%;
        background: rgba(255, 255, 255, 0.9);
        height: 100%;
        padding: 40px;

        .form-group {
          display: inline-block;
        }
      }
    }

    form {
      display: none;
    }
  }

  .xdsoft_datetimepicker {
    max-width: 308px;
    max-height: 218px;

    .xdsoft_calendar td, .xdsoft_calendar th {
      padding: 0 !important;
    }
  }
}

#editor {
  height: 100px;
}

#active_giveaway_tabs {

  .panel-heading .nav-tabs > li > a {
    line-height: 2;
    padding: 10px 13px;
  }

  #giveaway_stats {

    .row.kpis {

      .kpi {
        cursor: pointer;
        padding-bottom: 15px;
        margin-bottom: 0;
      }
    }
  }

  #graph_legend {
    text-align: center;
    margin-bottom: 3px;

    > table {
      margin: 0 auto;
    }

    .legendColorBox {

      > div {
        border: 1px solid #CCC;
        padding: 1px;
        border-radius: 190px;
        overflow: hidden;
        width: 14px;

        > div {
          width: auto;
          height: 0;
          overflow: hidden;
          border-radius: 100px;
        }
      }
    }

    .legendLabel {
      color: #2E3E4E;
      padding-left: 3px;
      padding-right: 7px;
    }
  }

  #graph_placeholder {
    height: 260px;
  }
}

@media (min-width: 768px) {

  #active_giveaway_tabs {

    #giveaway_stats {

      .row.kpis {
        overflow: hidden;

        .kpi {
          padding-bottom: 500px;
          margin-bottom: -485px;
        }
      }
    }
  }
}
