h1 {
  a.action {
    padding-top: 2px;
    margin-left: 10px;
    /*@include inline-block;*/
    line-height: 18px;
    width: 24px;
    height: 20px;

    img {
      line-height: 18px;
    }
  }
}

.sections {
  /*@include clearfix;*/

  section {
    display: none;
    position: relative;

    &.active {
      display: block;
    }
  }
}

.row .span4.aside {
  float: right;
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;

  .field {
    margin-bottom: 9px;
  }
}