h3.section-header {
  margin-bottom: 9px;
}

ul.thumbnails.facebook_pages {
  
  li {
    float: none;
    width: 335px;
    overflow: hidden;
    margin: 0 0 5px 20px;

    .avatar {
      float: left;
      margin: 7px 14px 5px 8px
    }

    h3 {
      line-height: 30px;
    }

    p {
      margin: 0;
    }
  }
}
