

ul.thumbnails.facebook_pages {
  
  li.facebook_page {
    display: table;
    float: none;
    width: 335px;
    overflow: hidden;
    margin: 0 0 8px 0;
    padding: 7px 4px;
    cursor: pointer;
    position: relative;

    &:hover {
      border-color: #08C;
      -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
      -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
      box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    }

    .avatar {
      display: table-cell;
      vertical-align: middle;
      width: 50px;
      height: 50px;
      float: none;
      margin: 0;
      padding: 0 14px 0 4px;
      line-height: 10px;
    }

    h3 {
      width: 250px;
      line-height: 20px;
      display: table-cell;
      vertical-align: middle;
    }

    i.icon-chevron-right {
      position: absolute;
      right: 12px;
      top: 26px;
    }

    a.page-link {
      display: block;
      height: 100%;
      line-height: 59px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

body.facebook_pages {

  &.show {

  }
}

