@import "bootstrap-variables";


.tabbable {

  .nav-tabs {
    margin:0px;
    border-bottom: 1px solid #CCC;

    .active {
      
      a {
        border-bottom-color: transparent;
        cursor:default;
        background-color:$grayLightest;

        &:hover {
          border-bottom-color: transparent;
          background-color:$grayLightest;
        }
      }
    }

    a {
      background-color:$grayLighter;
      border: 1px solid #CCC;

      &:hover {
        background-color: $grayLightest;
        border:1px solid #CCC;
      }
    }

    .giveaway-tab {

      a {
        padding:10px;
        width:300px;
        font-size:16px;
        text-align:center;
        margin-right: 288px;
        margin-left:6px;
      }
    }

    .pending-giveaways, .ended-giveaways {
      
      a {
        position: relative;
        top:4px;
      }
    }

  }
  
  .tab-content {
    background-color:$grayLightest;
    border: 1px solid #CCC;
    border-top: none;
    padding:6px;
    min-height:600px;

    .tab-pane {
      background-color: white;
      border: 1px solid #DDD;
      margin-bottom:6px;
    }

      .alert, .alert-info {
        padding:10px 10px 10px 16px;
        margin:0px;
        border:none;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        height:30px;
        clear:both;
      
        p {
          font-size:18px;
          margin:0px;
          line-height:30px;
          float:left;
        }

        a.btn, p.ends {
          float:right;
        }
      }
  }
}