@import "bootstrap-variables";


.giveaway {
  padding:28px;
  border-bottom: 1px solid #ddd;

  section.giveaway-header {
    height:90px;

    img {
      float:left;
    }

    .giveaway-title {
      float:left;
      height:38px;
      padding:26px 0px 26px 26px;
      width:752px;

      h1 {
        font-size:34px;
        line-height:38px;
        float:left;
      }

      p {
        font-size:21px;
        margin-top:6px;
      }

      .info {
        float:left;
        padding:12px 24px 0px 24px;

        ul.edit-end {
          margin-top:6px;
          margin-left:12px;
        }

        .btn {
          margin-top:10px;
        }
      }

      .buttons {
        float:right;


        .btn-group, .btn-publish {
          margin-left:10px;
        }
      }
    }
  }

  section.stats {
    clear:both;
    margin-top:20px;
    margin-left:-12px;
    overflow:auto;

    .stat-box {
      border: solid 1px $grayLighter;
      text-align:center;
      padding:12px;
      width:138px;
      float:left;
      margin-left:12px;
      margin-bottom:12px;
        
      p {
        margin-bottom:4px;
        font-size:13px
      }
    }
  }

  section.entries {
    padding-top:30px;
    
    table {
      margin-top:10px;
    }
  }

  .modal {
    width:940px;
    margin:-250px 0 0 -471px;
  }
}
          