@import "bootstrap-variables";

.wrapper {
  width:1052px;
  margin:0px auto;
}
.clearfix {
  clear:both;
}

.container {
  padding:20px;
}

html {
  body {
    background: #E7EBF2 url('http://www.thebdmethod.com/monkeymace/monkeymacebg.png') repeat;
    background-color: #000;

    header.primary {
      height: 120px;
      line-height: 120px;

      h1 {
        line-height: 120px;
        float:left;
      }

      .btn-group {
        margin-left:24px;
        margin-top:14px;
        float:right;
        position:relative;
        top:28px;

      }
    }

    .container_wrapper {

      width:1200px;


      .page_header {


        float:left;
        width:180px;
        margin-right:20px;


        a.avatar {
          width:160px;
          height:160px;
          display:block;
          padding:8px;
          border: 1px solid #ddd;
          background-color:white;
          -webkit-box-shadow: inset 0px 0px 2px 3px #eee;
          -moz-box-shadow: inset 0px 0px 2px 3px #eee;
          box-shadow: inset 0px 0px 2px 3px #eee;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;

          img {
            padding:1px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
          }
        }
        .page_heading {
          text-align:center;


          h1 {
            font-size:18px;
            line-height:24px;
            margin-top:10px;
          }

          p {
            font-size:14px;
            color:#777;
            margin-bottom:21px;
          }

          a.create-giveaway {

          }

          .btn-group {
            margin-top:20px;
          }

          .page-nav {
            width: 100%;
            height: 36px;
            background-color: #eeeeee; /* Old browsers */
            background-repeat: repeat-x; /* Repeat the gradient */
            background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
            background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
            background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
            background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
            background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
          }
        }
      }
      .content {
        float:left;
        border: 1px solid #ddd;
        min-height:800px;
        width:850px;
        background-color:white;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;

        .container {
          padding:0px 20px;
        }

        .tab-content {
          .tab-pane {
            .row
              .testspan {
                background-color:gray;
                height:20px;
                display:block;
              }
          }
        }
      }
    }








    footer.primary {
      padding: 5px 0;
      clear: both;

      hr {
        margin: 18px 0 23px;
      }
    }

    .sidebar.primary {
      float: left;
    }

    .container {


      &.primary {



        .inner {
          padding: 0 37px;
          overflow: hidden;
          background: transparent image_url('/assets/page-slice.png') repeat-y 0 0;
        }

        .bottom {
          height: 12px;
          background: transparent image_url('/assets/page-slice-bottom.png') no-repeat 0 0;
        }
      }
    }
  }
}