@import "bootstrap-variables";

html {
  body {
    background: #EEE image_url('/assets/bg.png') repeat;

    .page-header {
      overflow: hidden;
    }

    .container {

      header.page {
        height: 100px;
        padding: 10px 14px 0px 14px;

        h2 {
          margin: 16px 0 0 20px;
        }

        a.btn {
          margin-top: 14px;
        }
      }
    }
  }
}

