@import 'bourbon';
@import 'mixins';
@import 'variables';

table {

  &.footable {

    thead {
      // border-bottom: 1px solid rgba(0, 0, 0, 0.03);

      th {
        cursor: pointer;
        font-size: 0.9em;
        background-color: rgba(0, 0, 0, 0.05);
        text-align: center;
        color: #717171;
        padding: .5em .7em;
        vertical-align: middle;

        &:hover,
        &.footable-sorted,
        &.footable-sorted-desc,
        &.footable-sorted-asc {
          background-color: rgba(0, 0, 0, 0.13);
          color: rgba(0, 0, 0, 0.8);
        }

        &:first-child {
          text-align: left;
        }

        &.first-child {
          text-align: left;
        }

        &.last-child {
          text-align: left;
        }

        // .footable-sort-indicator {
        //   display: none;
        // }
      }
    }

    tr {

      &.entry-row {
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 50, 0.02);
        }
      }

      td {
        padding: .4em .7em;
        vertical-align: middle;
        text-align: center;

        &:first-child,
        &.first-child {
          text-align: left;
        }

        &.last-child {
          text-align: left;
        }
      }
    }

    tfoot {
      margin-bottom: 0;

      td {
        cursor: auto;
        font-size: 0.9em;
        background-color: rgba(0, 0, 0, 0.05);
        text-align: center;
        color: rgba(0, 0, 0, 0.8);
        padding: .5em .7em;
        vertical-align: middle;
      }
    }
  }

  &#entries {

    td {

      .entry-name-email {
        float: left;

        .entry-email {}
      }

      .entry-time {}
    }

    tfoot {

      td {
        text-align: center;
      }
    }

    .footable-row-detail-value {
      @include word-wrap;
    }

    .entries-pager {
      vertical-align: middle;
    }
  }
}
