@import 'bourbon';

table {

  &.footable {
    width: 99%;
    -webkit-border-horizontal-spacing: 2px;
    -webkit-border-vertical-spacing: 2px;
    @include box-shadow(rgba(0, 0, 0, 0.1) 0px 0px 0px 1px);
    background-color: #FFF;
    border-color: #808080;
    border-collapse: collapse;
    @include border-radius(5px);
    @include box-sizing(border-box);
    @include transition(all .1s ease-out);
    color: #555;
    display: table;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 1em;
    position: relative;
    left: 0.5%;

    thead {
      border-bottom: 1px solid rgba(0, 0, 0, 0.03);

      th {
        cursor: pointer;
        font-size: 0.9em;

        &:hover {
          background-color: rgba(0, 0, 0, 0.13);
          color: rgba(0, 0, 0, 0.8);
        }

        &:first-child {
          @include border-radius(5px 0 0);
        }

        .footable-sort-indicator {
          display: none;
        }
      }
    }

    tbody {

      tr:nth-child(2n) {
        background-color: rgba(0, 0, 50, 0.02);
      }
    }

    tfoot {
      border-top: 1px solid rgba(0, 0, 0, 0.03);
      margin-bottom: 0;
    }

    th {
      cursor: auto;
      background-color: rgba(0, 0, 0, 0.05);
      text-align: left;
      color: rgba(0, 0, 0, 0.8);
      padding: .5em .7em;
      vertical-align: middle;
    }

    td {
      padding: .4em .7em;
      vertical-align: middle;

      .entry-name-email {
        float: left;
      }
    }

    th, tr, td {
      border-collapse: collapse;
      @include box-sizing(border-box);
      @include transition(all .1s ease-out);
    }
  }
}
