@import 'bourbon';

html {
  @include linear-gradient(#8b9da9, #fff6e4);
  box-shadow: inset 0 0 100px hsla(0, 0%, 0%, .3);
  min-height: 100%;
}

body.welcome {
  background: transparent;

  .site_wrapper {
    width: 1052px;
    margin: 0px auto;
  }

  .container {
    padding: 20px;
  }

  header.site {
    height: 120px;
    line-height: 120px;

    h1 {
      line-height: 120px;
      float: left;
    }

    .btn-group {
      margin-left: 24px;
      margin-top: 14px;
      float: right;
      position: relative;
      top: 28px;
    }
  }

  .callOut {
    position: relative;
    top: -10%;
    width: 60%;
    margin: auto;
    padding-top: 10%;
    text-align: center;
    background: white;
    padding: 20px;
    padding-bottom: 40px;
    border: 5px solid #0f89e9;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
  }

  h1, p, blockquote, input {
    display: block;
  }

  h1 {
    font-size: 250%;
    position: absolute;
    top: -50px;
    left: 0;
    padding: 5px 15px;
    background: white;
    color: #0f89e9;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
  }

  p {
    margin: 20px;
  }

  blockquote {
    font-size: 150%;
    font-weight: bold;
  }

  input {
    margin: auto;
    width: 290px;
    height: 30px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #333;
  }

  ul, li {
    display: block;
    padding: 0;
    margin: 0;
  }

  .btn-facebook {
    width: 300px;
    height: 60px;
    display: block;
    background: image_url('/assets/buttons/button_auth_fb.png') no-repeat 0 0;
    background-size: 100% 100%;
    margin: auto;
    border: none;
  }

  footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 20px 0;
    ul {
      position: relative;
      width: 540px;
      margin: auto;
      padding-bottom: 5px; }
    li {
      display: inline-block;
      list-style: none;
      margin-right: 20px;
      font-size: 12px; }
    small {
      display: block;
      text-align: center;
    }
  }
}
