@import 'bootstrap-variables';
@import 'bootstrap';
@import 'bootstrap-overrides';
@import 'compass/css3/border-radius';
@import 'compass/css3/background-clip';
@import 'compass/css3/box-shadow';
@import 'compass/css3/images';

html {
  height: 100%;
}

a, button, input {
  outline: 0 none;
}

body.welcome {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #dfe3e8;
  text-align: center;

  #fb-root {
    width: 100%;
    height: 448px;
    position: fixed;
    top: 0;
    z-index: 0;
    background: transparent image_url('/assets/bg-glow.png') center top repeat-x;
  }

  h1 {
    position: relative;
    z-index: 100;
    color: #8392a3;
    font-family: "Myriad Pro";
    font-size: 48px;
    font-weight: normal;
    text-shadow: 0 1px 0 #fff;
  }

  > .container-narrow {
    min-height: 100%;
    height: 100%;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; /* Adjusts for spacing */
    }

    .inner {
      display: inline-block;
      vertical-align: middle;
      padding: 40px 0;
      position: relative;
      top: -0.5%;
    }
  }

  #primary_content {
    position: relative;
    z-index: 100;
    width: 301px;
    padding: 24px 0 10px;
    margin: 35px auto 20px;
    @include border-radius(8px 7px);
    @include background-clip();
    background-color: #fff;
    @include box-shadow(0 1px 5px rgba(56, 80, 102, .5), 0 0 35px rgba(65, 84, 103, .1), inset 0 3px 7px #fff, inset 0 0 0 1px rgba(255, 255, 255, .5));
    @include background-image(linear-gradient(bottom, #fff 0%, #e9edf3 75%, #fff 100%));

    p {
      color: #717981; /* text color */
      font-family: "Helvetica Neue";
      font-size: 13px;
      width: 75%;
      margin: 0 auto;
    }

    form {
      margin: 21px 0 0;
    }

    input[type=email],
    input[type=text] {
      color: #a0abb8;
      width: 237px;
      height: 34px;
      padding: 0 10px;
      border: 1px solid #bac4d1;
      @include border-radius(3px);
      @include background-clip();
      background-color: #fff;
      @include box-shadow(0 1px 0 rgba(255, 255, 255, .5), inset 0 1px 2px #d8dfe8);
      @include background-image(linear-gradient(bottom, #ecf0f4 0%, #e4ebf2 100%));

      &:hover {
        color: #57626f;
        outline: 0 none !important;
        border: 1px solid #76a9cd; /* stroke */
      }

      &:active, &:focus {
        color: #57626f;
        outline: 0 none !important;
        border: 1px solid #76a9cd;
        @include box-shadow(0 1px 0 rgba(255, 255, 255, .5), 0 0 5px rgba(57, 165, 243, .35), inset 0 1px 2px #d8dfe8);
        @include background-image(linear-gradient(bottom, #fff 0%, #f3f5f7 100%));
      }

      &.error {
        border: 1px solid #cc7676;
        @include box-shadow(0 1px 0 rgba(255, 255, 255, .5), 0 0 5px rgba(243, 57, 57, .35), inset 0 1px 2px #d8dfe8);
        @include background-image(linear-gradient(bottom, #fff 0%, #f3f5f7 100%));
      }
    }

    .media {
      width: 229px;
      margin: 0 auto 9px;
      text-align: right;

      &.btn-large {
        padding: 10px 14px 7px;
      }

      p {
        margin: 0;
        width: 178px;
      }
    }
  }

  footer {
    color: #717981;
    font-family: "Helvetica Neue";
    font-size: 13px;
    position: relative;
    z-index: 100;
  }

  .button {
    cursor: pointer;
    width: 257px;
    height: 40px;
    margin: 6px auto 0;
    color: #fff; /* text color */
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 62, 106, .75); /* drop shadow */
    line-height: 34px;
    border: 1px solid #015da8;
    @include border-radius(3px);
    @include background-clip();
    background-color: #fff;
    @include box-shadow(0 2px 2px rgba(164, 170, 178, .5), inset 0 1px 0 rgba(255, 255, 255, .35));
    @include background-image(linear-gradient(bottom, #0094ff 0%, #0082e0 35.25%, #5cbbff 100%));

    &:hover, &:focus {
      @include background-image(linear-gradient(bottom, #0094ff 0%, #007edf 35.25%, #8dcfff 100%));
    }

    &:active {
      border: 1px solid #015da8;
      @include box-shadow(inset 0 1px 5px rgba(0, 51, 121, .75));
      @include background-image(linear-gradient(bottom, #31a4f6 0%, #0c6ed3 64.99%, #0c6ed3 100%));
    }
  }
}
