%section.info.panel.panel-default
  .panel-heading
    %h3.panel-title Basic Info
  %ul.list-group
    %li.list-group-item
      .m-b-xs.editable-trigger
        Prize
        %a.pull-right{href: "#"}
          %i.fa.fa-pencil
      = editable giveaway, :prize, url: facebook_page_giveaway_path(giveaway.facebook_page, giveaway), type: 'textarea'
    %li.list-group-item
      .m-b-xs.editable-trigger
        Description
        %a.pull-right{href: "#"}
          %i.fa.fa-pencil
      = editable giveaway, :description, url: facebook_page_giveaway_path(giveaway.facebook_page, giveaway), value: h(giveaway.description), type: 'textarea', class: 'editable-wysiwyg', escape: false
    %li.list-group-item
      .m-b-xs.editable-trigger
        Custom Tab Name
        %a.pull-right{href: "#"}
          %i.fa.fa-pencil
      = editable giveaway, :custom_fb_tab_name, url: facebook_page_giveaway_path(giveaway.facebook_page, giveaway)
