%section.info

  %h4 Basic Info

  %section.prize
    .ui.small.horizontal.label Prize
    %p= giveaway.prize

  %section.description
    .ui.small.horizontal.label Description
    %p= giveaway.description

  %section.custom-tab-name
    .ui.small.horizontal.label Custom Tab Name
    %p= giveaway.custom_fb_tab_name
