%section.info.panel.panel-default
  .panel-heading
    %h3.panel-title Basic Info
  %table.table.table-striped.m-b-none
    %thead
    %tbody
      %tr
        %td Prize
        %td.val= giveaway.prize
        %td.text-right
          .btn-group
            %a{href: "#"}
              %i.fa.fa-pencil
      %tr
        %td Description
        %td.val= giveaway.description.html_safe
        %td.text-right
          .btn-group
            %a{href: "#"}
              %i.fa.fa-pencil
      %tr
        %td Custom Tab Name
        %td.val= giveaway.custom_fb_tab_name
        %td.text-right
          .btn-group
            %a{href: "#"}
              %i.fa.fa-pencil
