%section.preferences.panel.panel-default
  .panel-heading
    %h3.panel-title Preferences
  %table.table.table-striped.m-b-none
    %thead
    %tbody
      %tr
        %td Email Required for Entry?
        %td= boolean_label(giveaway.email_required)
        %td.text-right
          .btn-group
            %a{href: "#"}
              %i.fa.fa-pencil
      %tr
        %td Autoshow Share Dialog?
        %td= boolean_label(giveaway.autoshow_share_dialog)
        %td.text-right
          .btn-group
            %a{href: "#"}
              %i.fa.fa-pencil
      %tr
        %td Allow Multiple Entries?
        %td= boolean_label(giveaway.allow_multi_entries)
        %td.text-right
          .btn-group
            %a{href: "#"}
              %i.fa.fa-pencil
      %tr
        %td Bonus Entry Value
        %td= giveaway.bonus_value
        %td.text-right
          .btn-group
            %a{href: "#"}
              %i.fa.fa-pencil
