%section.schedule

  %h4 Schedule

  %section.start-date
    .ui.small.horizontal.label Start Date
    %p= start_date_label(giveaway)

  %section.end-date
    .ui.small.horizontal.label End Date
    %p= end_date_label(giveaway)
