%section.schedule

  %h4.ui.dividing.header Schedule

  %section.start-date
    .ui.small.horizontal.label Start Date
    %p= giveaway.start_date

  %section.end-date
    .ui.small.horizontal.label End Date
    %p= giveaway.end_date
