.ui.mini.basic.buttons
  = link_to 'Edit', edit_facebook_page_giveaway_path(giveaway.facebook_page, giveaway), class: 'ui button'
  - if giveaway.pending?
    .ui.floating.dropdown.icon.button
      %i.dropdown.icon
      .menu
        = link_to 'Start Now', '#', class: 'ui item', id: 'start_giveaway'
