.btn-group
  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
    Actions
    %span.caret
  %ul.dropdown-menu
    %li= link_to '<i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit'.html_safe, edit_facebook_page_giveaway_path(giveaway.facebook_page, giveaway), id: 'edit_giveaway'
    %li= link_to '<i class="fa fa-bolt"></i>&nbsp;&nbsp;Start'.html_safe, '#'
