%h1.ui.left.floated.header
  %i.circular.emphasized.inverted.teal.gift.icon
  .content
    = link_to 'Simple Giveaways', dashboard_path, class: 'logo-link'
    .sub.header
      Easily create and deploy giveaways on your Facebook pages.
