%header.primary
  .container
    - if signed_in?
      %h1= link_to APPLICATION_NAME, user_path(current_user), :class => "brand"
    - else
      %h1= link_to APPLICATION_NAME, root_path, :class => "brand"
