-#- content_for :page_title do
-#  %h1.page_title= page.name
-#  %p.page_subtitle #{page.likes} Likes
-#
-#- content_for :avatar do
-#  %a{:href => page.url, :class => "avatar" }
-#    = image_tag(page.avatar_square, :alt => page.name, :width => "180", :height => "180")
-#
-#- content_for :links do
-#  %ul.nav.nav-list
-#    %li{:class => page.giveaways.active.empty? && page.giveaways.pending.any? ? "hide" : "active"}
-#      %a{ :href => "#page_giveaways_active", :"data-toggle" => "tab"}
-#        %i.icon-star
-#        Active
-#    %li{:class => page.giveaways.active.empty? && page.giveaways.pending.any? ? "active" : ""}
-#      %a{ :href => "#page_giveaways_pending", :"data-toggle" => "tab"}
-#        %i.icon-inbox
-#        Pending (#)
-#    %li
-#      %a{ :href => "#page_giveaways_completed", :"data-toggle" => "tab"}
-#        %i.icon-ok
-#        Completed (#)
-#    %li
-#      %a{ :href => "#page_stats", :"data-toggle" => "tab"}
-#        %i.icon-signal
-#        Page Stats
-#
-#  %a{ :href => new_facebook_page_giveaway_path(page), :class =>"btn btn-large btn-success create-giveaway" }
-#    %i.icon-plus.icon-white
-#    Create Giveaway