%ul.breadcrumb.no-border.no-radius.b-b.b-light.pull-in
  - breadcrumbs(display_single_fragment: true) do |links|
    - links.each do |link|
      %li{class: link.current? ? 'active' : nil}
        = link_to link.text, link.url
