%ul.nav.navbar-nav.hidden-xs.my-pages-dropdown
  %li.dropdown
    %a.dropdown-toggle.dker{"data-toggle" => "dropdown", href: "#"}
      %i.fa.fa-facebook-square
      %span.font-bold My Pages
    %section.panel.panel-default.dropdown-menu.aside-xl.on.animated.fadeInLeft.no-borders
      %header.panel-heading
        %input.form-control{placeholder: "Search", type: "text"}
      %ul.list-group.alt
        - current_user.facebook_pages.each do |page|
          = active_link_to facebook_page_path(page) do
            %li.list-group-item
              .media
                %span.pull-left.thumb-sm
                  %img.img-circle{alt: page.name, src: page.avatar_square}
                .pull-right.text-success.m-t-sm
                  %i.fa.fa-circle
                .media-body
                  %div= page.name
                  %small.text-muted= like_count(page.likes)
